<h1>Редактировать курс {{course.title}}</h1>
<form action="/courses/edit" method="POST">
  <div class="input-field">
    <input name="title" id="title" type="text" class="validate" value={{course.title}} required>
    <label for="title">Название курса</label>
    <span class="helper-text" data-error="Введите название"></span>
  </div>
  <div class="input-field">
    <input name="price" id="price" type="number" class="validate" value={{course.price}} required min="1">
    <label for="price">Цена курса</label>
    <span class="helper-text" data-error="Введите цену"></span>
  </div>
  <div class="input-field">
    <input name="img" id="img" type="text" class="validate" value={{course.img}} required>
    <label for="img">URL картинки</label>
    <span class="helper-text" data-error="Введите URL картинки"></span>
  </div>
  <input name="id" value="{{course.id}}" type="hidden">
  <button class="btn btn-primary">Редактировать курс</button>
</form>